{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block caption %}Dashboard{% endblock %}

{% block body %}
    <div class="d-flex flex-column-reverse flex-md-row row">

        <!-- Content Column -->
        <div class="col-md-8 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">Most used tags</div>
                <ul class="list-group">
                    {% for tag in mostUsed %}
                        <li class="list-group-item list-group-item-action">
                            <a href="{{ path('app_tag_show', {id: tag.id }) }}" class="d-flex justify-content-between align-items-center">
                                <span>{{ tag.name }}</span>
                                <span class="badge badge-primary badge-pill">{{ tag.productsCount }}</span>
                            </a>
                        </li>
                    {% else %}
                        <div class="p-5 text-center text-muted">
                            <span class="text-capitalize h3">Without Tags</span>
                        </div>
                    {% endfor %}
                </ul>
            </div>


        </div>

        <div class="col-md-4">
            <div class="row">
                {% for key,entity in entities %}
                    <div class="col-md-12 col-md-6 mb-4">
                        <a href="{{ path('app_' ~ key ~ '_index') }}">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ key }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ entity | length }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}
