{% extends 'base.html.twig' %}

{% block caption 'Product' %}

{% block toolbar %}
    <a href="{{ path('app_product_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Create
    </a>
{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Stock</th>
                        <th>Id</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.image }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.id }}</td>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
