{% extends 'base.html.twig' %}

{% block title 'View #'~product.id %}

{% block caption 'Product' %}

{% block toolbar %}
    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary">
        <i class="fas fa-save"></i> Update
    </a>
{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <div class="card mb-4">
                <div class="card-header">{{ 'Information' | trans }}</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col col-md-auto">{{ 'Title' | trans }}</dt>
                        <dd class="col">{{ product.title }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col col-md-auto">{{ 'Price' | trans }}</dt>
                        <dd class="col">${{ product.price }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col col-md-auto">{{ 'Stock' | trans }}</dt>
                        <dd class="col">{{ product.stock }}</dd>
                    </dl>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">{{ 'Tags' | trans }} - {{ product.tags.count }}</div>
                <div class="list-group overflow-auto" style="max-height: 400px">
                    {% for tag in product.tags %}
                        <a href="{{ path('app_tag_show', {id: tag.id}) }}"
                           class="list-group-item list-group-item-action">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <div class="card-header">{{ 'Description' | trans }}</div>
                <div class="card-body">
                    <dl class="row">
                        <dd class="col-sm-12">
                            <img class="w-100 img-thumbnail" src="{{ '/uploads/' ~ product.image }}"
                                 alt="{{ product.title }}">
                        </dd>

                        <dd class="col-sm-12">{{ product.description }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_product_index') }}">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                    {{ include('product/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
