{% extends 'base.html.twig' %}

{% block title 'View #'~tag.id %}

{% block caption 'Tag' %}

{% block toolbar %}
    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="btn btn-primary">
        <i class="fas fa-save"></i> Update
    </a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="mb-4 col-md-8 col-12">
            <div class="card shadow mb-4">
                <div class="card-header">{{ 'Information' | trans }}</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">{{ 'Name' | trans }}</dt>
                        <dd class="col-sm-10">{{ tag.name }}</dd>

                        <dt class="col-sm-2">{{ 'Products' | trans }}</dt>
                        <dd class="col-sm-10">{{ tag.id }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="mb-4 col-md-4 col-12">
            <div class="card shadow mb-4">
                <div class="card-header">{{ 'Related Products' | trans }} - {{ tag.products.count }}</div>
                <div class="list-group overflow-auto" style="max-height: 400px">
                    {% for product in tag.products %}
                        <a href="{{ path('app_product_show', {id: product.id}) }}"
                           class="list-group-item list-group-item-action">{{ product }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_tag_index') }}">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                    {{ include('tag/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
